.cadastro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( to right, #8a2be2, #48d1cc);
}

.cad-form {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
}

.links-cad{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    
}

.links-cad button a{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

.textField{
    width: 30vw;
}

.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p{
    margin-bottom: 0px;
}

#titulo{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#descricao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5d3681;
}