.main-dash{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90vw;
}

#alls{
    width: calc(90vw - 8%);
    margin-left: 8%;
}

.titulo-dash {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.titulo-dash .apresentacao{
    font-size: 20px;
    font-weight: 500;
}

.sair{
    font-size: 18px;
    font-style: italic;
}
.sair:hover{
    color:red;
    cursor: pointer;
}

#name{
    color: #8a2be2;
}

