.tollbar{
    background-color: #48d1cc!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.tollbar-wrapper {
    display: block;
    content: " ";
    height: 60px;
}