.clientes-page{
    width: 90vw;
    padding-left: 20px!important;
    padding-right: 20px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%; 
}

#pesquisa{
    width: 40vw;
}

#campo-busca{
    align-self: center;
}

#fab-add{
    align-self: flex-end;
    
}

#lista-clientes{
    align-self: center;
    margin-top: 3%;
}

.MuiCardActions-root-119{
    justify-content: flex-end;
}


#acoes-card{
    align-self: flex-end;
}