.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( to right, #8a2be2, #48d1cc);;
}

.center-form {
    width: 20vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 2%;
}

.links{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    color: #8a2be2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}