.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.menu{
    align-items: center;
}

.my-account{
    display: flex;
    align-items: center;
    justify-content: center;
}